.faq-card {
  background-color: transparent !important;
  border: 0 !important;
  border-top: 1px solid silver !important;
}

.faq-header {
  background-color: transparent !important;
  border: 0 !important;
  cursor: pointer;
}
