.cnt {
  padding: 0;
}

.gal-item {
  border: 0 !important;
}

@media (max-width: 425px) {
  .slick-gal .slick-slide {
    padding: 2px !important;
  }
}

.slick-slide .slide-h3 {
  opacity: 0.5;
}

.slick-center .slide-h3 {
  opacity: 1;
}

.slick-gal > .slick-next:before,
.slick-gal > .slick-prev:before {
  color: black;
}
