.hb-cont {
  padding: 0px;
  overflow: hidden;
}
._3PNRL_ {
  position: relative;
  padding: 20px;
  overflow: hidden;
}

._1xiCxm {
  margin: 0 auto;
  max-width: 1048px;
}

._12MpzS {
  position: absolute;
  top: 0;
  right: -200vw;
  bottom: 0;
  left: 0;
  will-change: transform;
  -webkit-transition: -webkit-transform 1.2s ease-out;
  transition: -webkit-transform 1.2s ease-out;
  transition: transform 1.2s ease-out;
  transition: transform 1.2s ease-out, -webkit-transform 1.2s ease-out;
}

._36u8Oz {
  z-index: 4;
  margin-bottom: 40px;
  font: 22px/25px Officina Serif, sefi;
  white-space: nowrap;
  color: #fff;
}

._36u8Oz ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

._3x3SQE._1MtA4k {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

._3x3SQE {
  opacity: 0.3;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
  -webkit-transform-origin: left;
  transform-origin: left;
  cursor: pointer;
}

._22tK2L {
  margin-top: 20px;
}

._32KZel._2uwrgH,
._32KZel._3d9J71,
._32KZel._3d9J71 ._2_o3rJ {
  width: 100%;
}

._32KZel {
  position: relative;
  display: inline-block;
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font: 17px/37px Officina Serif;
}

._32KZel._2uwrgH ._2_o3rJ {
  width: 100%;
}

._2_o3rJ:not(:disabled) {
  -webkit-transition: -webkit-box-shadow 0.1s, -webkit-transform 0.1s;
  transition: -webkit-box-shadow 0.1s, -webkit-transform 0.1s;
  transition: box-shadow 0.1s, transform 0.1s;
  transition: box-shadow 0.1s, transform 0.1s, -webkit-box-shadow 0.1s,
    -webkit-transform 0.1s;
  background: #fad485;
  -webkit-box-shadow: 0 3px 0 0 #ebb16f, 0 4px 0 0 #d99a59,
    0 4px 8px 0 rgba(102, 55, 0, 0.4);
  box-shadow: 0 3px 0 0 #ebb16f, 0 4px 0 0 #d99a59,
    0 4px 8px 0 rgba(102, 55, 0, 0.4);
}

.U-M6RB,
.U-M6RB:before {
  border-radius: 26px;
}

.U-M6RB {
  height: 52px;
  padding: 0 30px;
  font-size: 21px;
  line-height: 52px;
}

._2_o3rJ {
  position: relative;
  display: inline-block;
  height: 37px;
  margin-bottom: 4px;
  padding: 0 20px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  color: #000;
  border: none;
  border-radius: 19px;
  font: inherit;
}

._4v6G9._2kahQw {
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
}

._4v6G9 {
  position: relative;
  margin: 0 auto -80px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 180px;
  height: 360px;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

._32B5iG {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  -webkit-transition: opacity 1s ease-out, z-index 0s 0.2s,
    -webkit-transform 0.8s ease-out;
  transition: opacity 1s ease-out, z-index 0s 0.2s,
    -webkit-transform 0.8s ease-out;
  transition: transform 0.8s ease-out, opacity 1s ease-out, z-index 0s 0.2s;
  transition: transform 0.8s ease-out, opacity 1s ease-out, z-index 0s 0.2s,
    -webkit-transform 0.8s ease-out;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

@media (min-width: 600px) {
  ._4v6G9 {
    margin: 10px auto -100px;
  }
}
