.h-props {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.overlay-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.p-size {
  font-size: 10px;
}

.btn-size {
  padding: 4px !important;
  font-size: 6px !important;
}

@media (min-width: 426px) {
  .p-size {
    font-size: 30px;
  }
  .btn-size {
    font-size: 15px !important;
  }
}

@media (min-width: 769px) {
  .overlay-margin {
    margin-left: 150px;
    margin-right: 150px;
  }
}

.img-card {
  min-width: 100px;
}
