.read-more-button {
  color: blue;
  cursor: pointer;
}

.read-more-button:hover {
  text-decoration: underline;
}

.crd-ftr {
  border: 0 !important;
  background-color: transparent !important;
}

.rev-slider > .slick-next:before,
.rev-slider > .slick-prev:before {
  color: green;
}

@media (max-width: 425px) {
  .rev-slider > .slick-next:before,
  .rev-slider > .slick-prev:before {
    display: none;
  }
}

.rev-slider > .slick-dots button::before {
  color: green !important;
}
