.th-cont {
  padding: 0px !important;
}

.th-card {
  position: fixed !important;
  z-index: 0;
  width: 100%;
}

.th-text {
  width: 20rem;
  background-color: transparent !important;
  border: 0 !important;
}

.th-btn {
  margin: 2px;
}

.th-img {
  object-fit: cover;
}
