.th-cont {
  padding: 0 !important;
}

.th-img {
  object-fit: cover;
}

.th-mess {
  background-color: transparent !important;
  border: none !important;
  max-width: 20rem;
}

.th-btn {
  margin: 2px;
}

.th-card {
  width: 100%;
}
